/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollerGrey: 219, 219, 219;
  --lightGrey: 227, 227, 227;
  --darkerGrey: 200, 200, 200;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLighterGreen: 192, 254, 207;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLogoGreen: 144, 206, 161;
  --tmdbLogoOrange: 253, 193, 112;
  --tmdbLogoRed: 217, 59, 99;
  --accountSilver: 149, 149, 149;
  --accountPink: 234, 20, 140;
  --accountPurple: 128, 91, 231;
  --accountGreen: 1, 210, 119;
  --accountTeal: 1, 198, 172;
  --accountLightBlue: 1, 180, 228;
  --accountBlue: 1, 119, 210;
  --accountOrange: 210, 119, 1;
  --accountYellow: 210, 144, 1;
  --accountRed: 212, 2, 66;
  --white: 255, 255, 255;
}

@font-face {
  font-family: Helvetica Arial sans-serif;
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body,
  #svelte {
    @apply w-full font-mono bg-slate-50 min-h-screen flex flex-col;
  }

  button {
    @apply py-1 px-4 rounded-md;
    @apply cursor-pointer focus:outline-none;
  }

  .btn,
  .btn-sm {
    @apply outline-none inline-flex items-center justify-center;
    @apply font-medium border border-transparent rounded;
    @apply transition duration-150 ease-in-out;
  }

  .btn {
    @apply px-8 py-3 shadow-lg;
  }

  .btn-sm {
    @apply px-4 py-2 shadow;
  }
}
